[submodule "rpi-usbboot"]
	path = rpi-usbboot
	url = https://github.com/raspberrypi/usbboot
	branch = master
[submodule "boot-image_firmware"]
	path = boot-image/firmware
	url = https://github.com/raspberrypi/firmware
	branch = stable
	shallow = true
[submodule "boot-image_linux"]
	path = boot-image/linux
	url = https://github.com/USA-RedDragon/linux
	branch = rpi-router
	shallow = true
[submodule "busybox"]
	path = busybox
	url = https://git.busybox.net/busybox/
	branch = refs/tags/1_35_0
[submodule "system_packages_llvm"]
	path = system/packages/llvm
	url = https://github.com/llvm/llvm-project.git
	branch = release/13.x
